@import url(http://fonts.googleapis.com/css?family=Raleway);
@import url(http://fonts.googleapis.com/css?family=Righteous); 
@import url(http://fonts.googleapis.com/css?family=Fascinate|Rammetto+One|Erica+One|Spicy+Rice|Fascinate+Inline|Chango|Ranchers|Montserrat+Subrayada);

nav {
    font-family: Raleway;
    text-align: center;
}
body {
    font-family: Raleway;
    background: ##00aa77;
    
}
h1 {
	
	background-color: 113 255 24;
	width: 100%;
	opacity: 70%;
	text-align: center;
        text-shadow: 0.1em 0.1em #FFF;
        font-family: Fascinate;
        font-size: 78px;
	border-radius: 1px;
	border-opacity: 90%;
	z-index: 0;


/*link href='http://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'> */
}
 h2 {
 	
	/*float: left;
	margin-right: 700px; 
	height:5px; 
	width:5px;*/
    text-align: center;
	
	
}
h3 {
/*	border-radius:2px;
	height:250px;
	width:200px;
	background-color:solid rgba(255, 0, 0, 0.5);
 	/*opacity: 0.2%;*/
	font-family:Raleway;
	color:black;
    	/*text-shadow: 0.1em 0.1em #FFF;
    	padding:2px;*/
    	border: 1px solid rgb(127, 0, 0);
        border: 1px solid rgba(255, 0, 0, .5);
        -webkit-background-clip: padding-box; /* for Safari */
        background-clip: padding-box; /* for IE9+, Firefox 4+, Opera, Chrome */
    	



}

h4 {

    background-color: 113 255 24;
    width: 100%;
    opacity: 70%;
    font-family: Raleway;
    text-align: center;
    text-shadow: 0.1em 0.1em #FFF;
    font-size: 20px;
    border-radius: 1px;
    border-opacity: 90%;
    z-index: 0;
    position: top;
}

h6 {

    text-align: center;
}





